html,body {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #a1a1a1
}

h1, p {
  font-family: sans-serif;
  color: #ffffff;
  text-align: center;
}